body {
  min-width: 400px;
}
.jumbotron {
  background: transparent;
}
h2 {
  padding: 4vh;
  text-align: center;
}
h3 {
  padding: 1vh;
  text-align: center;
}
.header-subscript {
  text-align: center;
  margin-top: -40px;
  font-size: 12pt;
}

article {
  border: 1px solid lightgray;
  padding: 10px 25px;
  margin: 10px;
}
article h4 {
  font-weight: 300;
  text-align: center;
  padding: 15px;
}

#contact label {
  margin-top: 10px;
  font-size: 10pt;
  color: grey;
}

footer {
  margin-top: 35px;
  padding: 10px;
  font-size: 10pt;
  color: grey;
}
.tags {
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
  right: 0;
}
.tags li {
  float: left;
  padding: 0 15px;
  background: lightgray;
  line-height: 2em;
  margin: 5px;
  font-size: 10pt;
}

